body {
    background-color: #F4EDD4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 1em;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 40px;
}

header img {
    height: 100px;
    width: 100px;
    border: black solid 1px;
    border-radius: 50%;
    object-fit: cover;
}

p {
    margin: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}

nav ul {
    display: flex;
    gap: 10px;
    padding: 0;
}

nav li {
    list-style: none;
    padding: 10px 20px;
    width: 100px;
    border: brown 2px solid;
    border-radius: 10px;
    text-align: center;
}

nav a {
    color: brown;
    text-decoration: none;
    text-transform: uppercase;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1200px
}

.CTA-button {
    font-size: 1.5em;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #A52A2A;
    border-style: none;
    color: white;
    text-transform: uppercase;
}

img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.main-left {
    grid-column: 1 / 4;
}

.main-right {
    grid-column: 4 / 5;
}

.services-text {
    font-size: .9em;
}

input,
textarea,
button {
    display: block;
    margin-bottom: 5px;
}

#submitForm {
    font-size: .8em;
}

input:focus,
textarea:focus,
button:focus {
    outline: #407240 solid 2px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.socials a {
    color: brown;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    header {
        height: 100%;
        flex-direction: column;
    }

    main {
        grid-template-columns: 1fr;
    }

    .main-left,
    .main-right {
        grid-column: auto;
    }

    footer {
        position: static;
    }

}